body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    margin-right: 40px;
}
.White-color{
    color: ;
}
section{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    padding-right: 100px;
}
img{
    margin-block: auto;
}
p{
    margin-right: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}